.genres {
  display: inline-block;
  width: 100%;
  padding: 16px 0 0 0;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.genres::-webkit-scrollbar {
  display: none;
}

.genres > a {
  margin: 0 4px;
}

.genre {
  margin: 10px 6px;
  padding: 14px 24px;
  background-color: rgb(190 18 60);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;

  text-decoration: none;
}

.selected {
  background-color: black;
}
